* {
  margin: 0px;
	border: 0px;
	text-decoration: none;
}

header {
	width: 100%;
	height: 40px;
	background-color: #222222;
}

nav ul {
	float: right;
	margin-top: 10px;
	margin-right: 60px;
	color: white;
}

nav ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
	color: white;
}

nav ul li a {
	color: white;
	font-family: Arial;
	font-size: 16px;
}

nav ul form {
	float: left;
}

nav ul form input {
	float: left;
	border: none;
	margin-right: 6px;
}

nav ul form button {
	float: left;
	border: none;
	margin-right: 6px;
	background-color: #fff;
	color: black;
	font-size: 16px;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
  background-color: skyblue;
  height: 100vh;
  width: 100%;
	min-width: 460px;
	max-width: 1000px;
  margin: 0px auto;
  padding: 0.1px;
}

#categories {
	display: flex;
	justify-content:center;
	align-items: center;
	height: 50px;
	width: 100%;
}

.btnCategory {
	background-color: dodgerblue;
	color: white;
	border: solid 2px blue;
	margin: 5px 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

/* not sure why !important is needed here but it doesn't work without it */
.btnCategory:hover {
	cursor: pointer;
	border-color: aliceblue;
}

#levels {
	display: flex;
	justify-content:center;
	align-items: center;
	height: 50px;
	width: 100%;
}

.btnLevel {
	background-color: dodgerblue;
	color: white;
	border: solid 2px blue;
	margin: 5px 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	width: 50px;
}

.btnLevel:hover {
	cursor: pointer;
	border-color: aliceblue;
}

.quiz-category {
  background-color: darkblue;
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 30px auto;
  width: 70%;
  height: 2em;
  line-height: 2em;
	box-shadow: 10px 10px 25px 10px #555;
	border-radius: .3em;
}

#question-number {
	width: 330px;
	height: 1em;
	line-height: 1em;
	font-size: 1.7em;
	margin: 0 auto;
	text-align: center;
}

#media-container {
	text-align: center;
}

.question {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 4em;
  text-align: center;
  margin: 1em auto;
  font-size: 1.5em;
  width: 70%;
}

.answers {
  width: 70%;
  margin: 0 auto;
}

.answer-div {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
  background-color: #09f;
  margin: 1em;
	font-size: 1.5em;
  height: 3em;
	cursor: pointer;
}

.answer {
	margin-left: 1em;
	margin-right: 0.5em;
}

.answer-div:hover {
  background-color: #07d;
	color: #ddd;
}

#review-quiz {
	display: none;
	position:absolute;
	align-self: center;
	width: 60%;
	min-height: 50px;
	background-color: bisque;
	margin: auto;
	top: 50px;
}

#scoreDiv {
	font-size: 1.5em;
	text-align: center;
	margin: 20px;
	color: #4a5;
}

.checkOrXDiv {
	width: 50px;
	position: relative;
	top: 6.3em;
}

.questionP {
	font-size: 1.7em;
	position: relative;
	left: 70px;
}

.userAnswerP, .corrAnswerP {
	font-size: 1.3em;
	position: relative;
	left: 70px;
}

.noselect {
  /* prevents text from being selected on buttons */
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Chrome/Safari/Opera */
  -webkit-user-select: none;
  /* Konqueror */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
  user-select: none;
}

table, th, td {
	border: 1px solid black;
}

table {
	margin-bottom: 2em;
}

th, td {
	width: 100px;
	text-align: center;
}









